# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html

[mysqld]
symbolic-links = 1
skip-name-resolve

[mysqld@instance1]
datadir=/data/instance1/mysql
socket=/data/instance1/mysql/mysql.sock
port=3306
log-error=/var/log/mysqld-instance1.log
bind-address=172.16.2.41
server-id = 1
log-bin
log-slave-updates

[mysqld@instance2]
datadir=/data/instance2/mysql
socket=/data/instance2/mysql/mysql.sock
port=3306
log-error=/var/log/mysqld-instance2.log
bind-address=172.16.2.42
server-id = 2
log-bin
log-slave-updates
